body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #111;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}
.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: 2px solid white;
}
.map {
    position: absolute;
    width: 2000px;
    height: 2000px;
    background: url('../images/background.png') no-repeat center center;
    background-size: cover;
    transition: transform 0.2s ease-out;
}
.character {
    position: absolute;
    width: 50px;
    height: 50px;
}
#character1 {
    background-color: red;
}
#character2 {
    background-color: blue;
}
.toolbar {
    position: fixed;
    bottom: 0;
    width: 99%;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: aliceblue;
}
.fullscreen-btn {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.players-container {
    flex: 0 0 25%;
    padding: 20px;
    background-color: #fff;
    border-left: 2px solid #ddd;
    height: 100vh;
    overflow-y: auto;
}

.player-list {
    list-style-type: none;
    padding: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

.player-list li {
    padding: 20px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #e3e3e3;
    text-align: center;
    font-size: 1.2rem;
}

.player-list li.selected {
    border-left: 20px solid rgb(0, 255, 0);
}

.player-list h1 {
    text-align: center;
    margin-bottom: 20px;
}